.header, p, a, .seclinks {
    text-align: center;
}

#title {
    font-weight: 700;
}

#subtitle {
    font-weight: 400;
}

#odin {
    display: flex;
    justify-content: center;
}

:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
  }
  @supports (font-variation-settings: normal) {
    :root { font-family: InterVariable, sans-serif; }
  }