@import url('https://googleapis.com');

body {
    display: flex;
    flex-flow: column;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* Header Section */

.header {
    background-color: #1c2841;
    color: white;
    display: flex;
    flex-flow: column;
    padding: 100px;
    padding-top: 10px;
}

.header-logo {
    font-weight: bold;
    font-size: larger;
}
.header-links {
    display: flex;
    gap: 20px;
}

.top {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.header-info {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-content: center;
    margin-top: 40px;
    gap: 10px;
}

.header-info-text {
    max-width: 500px;
}

.header-info-image {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: grey;
    padding: 80px;
    flex: none;
}

.header-info-title {
    font-weight: bold;
    font-size: 50px;
}

.header button {
    color: white;
    background-color:  rgb(45, 76, 179);
    border: 2px solid rgb(45, 76, 179);
    border-radius: 12px;
    padding: 5px 20px;
}

/* Information Section */

.information {
    display: flex;
    flex-flow: column;
    margin: 30px;
}

.image-row {
    display: flex;
    flex-flow: row;
    gap: 95px;
    justify-content: center;
    margin: 30px;
}

.image {
    display: flex;
    max-width: 125px;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
}

.image-box {
    width: 125px;
    height: 125px;
    border: 2px solid rgb(149, 230, 233);
    border-radius: 12px;
}

.information-title {
    text-align: center;
    font-size: large;
    font-weight: bold;
}

/* Quote Section */

.quote {
    display: flex;
    flex-flow: column;
    padding: 50px;
    padding-left: 225px;
    padding-right: 225px;
    background-color: rgb(238, 238, 238);
}

.quote-text {
    font-style: italic;
    font-weight: lighter;
    font-size: 25px;
    color: rgb(49, 49, 49);
}

.quote-author {
    align-self: flex-end;
    font-size: small;
    font-weight: bold;
}

/* Footer Section */
.footer {
    display: flex;
    flex-flow: column;
}

.call-to-action {
    display: flex;
    flex-flow: row;
    gap: 50px;
    justify-content: center;
    background-color: rgb(45, 76, 179);
    margin: 70px;
    border-radius: 10px;
    color: white;
    max-width: 1000px;
    align-self: center;
    width: 100%;
}

.call-text {
    padding: 30px;
}

.call-title {
    font-weight: 900;
    font-size: 24px;
    margin-bottom: 0px;
}

.call-desc {
    display: flex;
    flex-flow: column;
    margin-top: 0px;
    margin-bottom: 30px;
}

.call-to-action button {
    background-color: rgb(45, 76, 179);
    color: white;
    border: 2px solid white;
    border-radius: 12px;
    align-self: center;
    padding: 5px 20px;
}

.copyright {
    background-color: rgb(33, 33, 54);
    color: white;
    text-align: center;
    padding: 30px;
}